.playlists {
    background-color: rgb(33, 31, 31);
    background-image: linear-gradient(rgba(108, 106, 106, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 120vh;
    left: 1;
    width: 100%;
    z-index: 1;
    top: 1;
    margin-left: 240px;
    margin-top: -40px;
}

.movedBody {
    /* background-color: grey; */
    height: 100vh;
    /* left: 0; */

    width: 100%;
    z-index: 1;
    /* top: 0; */
    margin-left: px;
    margin-top: 100px;
}

.playlistsHeader {
    /* background-color: gray; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 100px;
}