.topBar {
    display: flex;
    /* margin-top: px; */
    /* flex-direction: row; */
    z-index: 1;
    /* justify-content: space-between; */
    /* align-items: center; */
    height: 60px;
    /* width: 98%; */
    background-color: #000000;
    /* color: #b3b3b3; */
    /* font-size: 1.2rem; */
    /* font-weight: 500; */
    /* padding: 0 20px; */
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -11px;
}
